body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange-color {
  color: orange;
}
.container {
  display: flex;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.content {
  width: 50%;
  padding-left: 10%;
}
.image {
  width: 50%;
  padding-left: 10%;
}
.image img {
  width: 80%;
}
.Header-button {
  text-decoration: none;
  color: white;
  border-radius: 25px;
  padding: 5px 25px;
  background-image: linear-gradient(to right, orange, tomato);
}
.container-1 {
  display: flex;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 100px;
}
.dream-content {
  width: 60%;
  padding-left: 10%;
  padding-right: 10%;
}
.dream-image {
  width: 40%;
  padding-left: 10%;
}
.dream-image img {
  width: 100%;
}
.card-section {
  display: flex;
  background-image: url(images/exp-bg.png);
  background-position: left;
  background-repeat: no-repeat;
  margin-bottom: 200px;
}
.card {
  width: 40%;
  margin-left: 5%;
  margin-right: 2.5%;
  height: 300px;
  padding: 5px 10px 5px 40px;
  box-shadow: 5px 8px 30px gray;
}
.card h1 {
  font-size: 40px;
}
#full {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}
#baby {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
footer p {
  text-align: center;
  color: gray;
}
